<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <log4net>
    <appender name="RaygunAppender" type="log4net.Raygun.RaygunAppender, log4net.Raygun">
      <apiKey value="IAmAnAPIKey" />
      <retries value="11" />
      <timeBetweenRetries value="00:00:01" />
      <onlySendExceptions value="true" />
      <ignoredFormNames value="foo,bar" />
      <exceptionFilter value="exceptionFilter" />
      <renderedMessageFilter value="messageFilter" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RaygunAppender" />
    </root>
  </log4net>
</configuration>